<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="wo-right-content">
                  <div class="info-title">
                    <span class="color-black">OUR</span>
                  </div>
                  <div class="mb-5 info-content">
                    <div><span class="color-orange">Products</span></div>
                  </div>
                  <div class="mb-5">
                    <span class="color-black content-text"
                      >Pyrolysis oil, derived from plastic waste, is a versatile
                      and sustainable fuel with extensive industrial
                      applications. Produced through an advanced thermal
                      decomposition process, it serves as an eco-friendly
                      alternative to traditional fossil fuels like diesel and
                      furnace oil. Its high calorific value and combustion
                      efficiency make it ideal for powering industrial boilers,
                      turbines, and heavy-duty machinery. Additionally,
                      pyrolysis oil is a valuable raw material in the chemical
                      and petrochemical industries, where it can be refined into
                      various useful products such as solvents and synthetic
                      gases.</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container" id="product-page">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-6 col-md-6 mb-5 mb-md-0 col-12">
          <img src="assets/product1.png" alt="products" width="100%" />
        </div>
        <div class="col-xl-6 col-md-6 col-12">
          <div class="offer-wrapper">
            <div class="content-block">
              <div class="title-panel">
                <span class="title-text"> Pyrolysis oil </span>
              </div>
              <div class="desc-panel">
                <span class="desc-text">
                  Waste plastic derived from pyrolysis of waste plastic trash
                  and municipal waste is one of the promising alternative fuels
                  because of its similar carbon chain characteristics and
                  physical properties to diesel fuel. Pyrolysis oil is a complex
                  mixture of hydrocarbons, similar to crude oil. pyrolysis oil
                  can be used as a alternative for conventional fossil fuels in
                  various applications, including power generation and heating.
                  The conversion of plastic waste into oil can help reduce the
                  amount of plastic ending up in landfilling and Incineration.
                  waste management solution of emissions and residues is
                  essential to minimise environmental impact and ensure the
                  sustainability of pyrolysis oil production.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container" id="product-page">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-6 col-md-6 mb-5 mb-md-0 col-12">
          <img src="assets/product3.png" width="100%" alt="products" />
        </div>
        <div class="col-xl-6 col-md-6 col-12">
          <div class="offer-wrapper">
            <div class="content-block">
              <div class="title-panel">
                <span class="title-text"> Black Carbon </span>
              </div>
              <div class="desc-panel">
                <span class="desc-text">
                  Carbon black, a fine black powder mostly composed of elemental
                  carbon, is produced when hydrocarbons are not completely
                  burned. By acting as a common reinforcing filler, carbon black
                  greatly improves the mechanical qualities of rubber goods,
                  such as tensile strength, abrasion resistance, and tear
                  resistance. It is also essential to several sectors, including
                  printing, electronics, building, and the automobile sector. It
                  is a useful pigment in paints, inks, and polymers because of
                  its remarkable tinting and UV-stabilizing qualities. Carbon
                  black may also be used to make battery electrodes, as a black
                  pigment in printing toners, and as a conductive component in
                  electronic products.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container" id="product-page">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-6 col-md-6 mb-5 mb-md-0 col-12">
          <img src="assets/product2.png" width="100%" alt="products" />
        </div>
        <div class="col-xl-6 col-md-6 col-12">
          <div class="offer-wrapper">
            <div class="content-block">
              <div class="title-panel">
                <span class="title-text"> Efurnace Oil </span>
              </div>
              <div class="desc-panel">
                <span class="desc-text">
                  Furnace oil also known as fuel or heating oil—is an essential
                  part of the energy landscape, particularly for heating
                  applications in various industrial sectors. furnace oil, which
                  is produced by distilling crude oil after it has been refined,
                  is a flexible and effective fuel source. it’s another pivotal
                  characteristic is its viscosity, which determines its flow
                  properties and suitability for different heating systems this
                  oil is classified into various grades, ranging from light to
                  heavy, based on viscosity and sulphur content. The specific
                  grade used depends on the requirements of the heating
                  equipment and regulatory standards. This classification
                  underscores the importance of tailoring furnace oil to meet
                  particular heating needs while adhering to established
                  industry and environmental guidelines. We are the best furnace
                  oil manufacturer in India.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
