<!-- footer.component.html -->
<div>
  <div class="ez-footer">
    <div class="ez-footer-container">
      <div class="ez-section-panel">
        <div class="mb-30">
          <div>
            <div class="mb-5">
              <div class="logo-block d-flex align-items-center">
                <div class="mr-3">
                  <a routerLink="home" target="_top"
                    ><img src="assets/android-chrome-192x192.png" width="50px"
                  /></a>
                </div>
                <div>
                  <div class="logo-name">UKB Plastic Energy</div>
                  <div class="tag-line">Recycle Plastic, Save Environment.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-12">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="content-block">
                    <ul>
                      <li class="link-header pb-25">
                        <span>Useful Links</span>
                      </li>
                      <a routerLink="home" target="_top">
                        <li class="link-content pb-25">Home</li>
                      </a>
                      <a routerLink="about-us" target="_top">
                        <li class="link-content pb-25">About Us</li>
                      </a>
                      <a routerLink="contact-us" target="_top">
                        <li class="link-content pb-25">Contact Us</li>
                      </a>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="content-block">
                    <ul>
                      <li class="link-header pb-25">
                        <span>Quick Links</span>
                      </li>
                      <a routerLink="products" target="_top">
                        <li class="link-content pb-25">Products</li>
                      </a>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="content-block">
                    <ul>
                      <li class="link-header pb-25">
                        <span>Get in Touch</span>
                      </li>
                      <a href="mailto:UKBplasticenergy@outlook.com">
                        <li class="link-content pb-25">
                          <span class="contact-info email-content"
                            >UKBplasticenergy@outlook.com</span
                          >
                        </li>
                      </a>
                      <a href="tel:+91 9173734279">
                        <li class="link-content pb-25">
                          <span class="contact-info phone-content"
                            >+91 9173734279</span
                          >
                        </li>
                      </a>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="content-block">
                    <div class="">
                      <div class="content-block">
                        <ul>
                          <li class="link-header pb-25">
                            <span>Follow us on</span>
                          </li>
                        </ul>
                      </div>
                      <div class="icon-block d-flex">
                        <div class="icon-container">
                          <a target="_blank"
                            ><img
                              width="40px"
                              src="assets/svg-icons/twitter-icon.svg"
                          /></a>
                        </div>
                        <div class="icon-container">
                          <a target="_blank"
                            ><img
                              width="40px"
                              src="assets/svg-icons/facebook-icon.svg"
                          /></a>
                        </div>
                        <div class="icon-container">
                          <a target="_blank"
                            ><img
                              width="40px"
                              src="assets/svg-icons/instagram-icon.svg"
                          /></a>
                        </div>
                        <div class="icon-container">
                          <a target="_blank"
                            ><img
                              width="40px"
                              src="assets/svg-icons/linkedin-icon.svg"
                          /></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ez-copyright-panel">
    <span class="copyright-panel-text"
      >Copyright &copy; 2025 UKB PLASTIC ENERGY PVT LTD. All Rights
      Reserved</span
    >
  </div>
  <!-- <div class="top-to-bottom-scroll" (click)="gotoTop()" *ngIf="isShow">
    <img />
  </div> -->
</div>
