<!-- footer.component.html -->
<div>
  <div class="ez-footer">
    <div class="ez-footer-container">
      <div class="ez-section-panel">
        <div class="mb-30">
          <div class="row">
            <!-- <div class="col-xl-3 col-12">
              <div class="ez-footer-logo-block">
                <a routerLink="home" target="_top">
                  <img />
                </a>
              </div>
              <div class="content-text">
                <span
                  >At ekZero, your goals become ours. We envision your success
                  by becoming part of your organization family.
                </span>
              </div>
            </div> -->
            <div class="col-xl-12 col-12">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="content-block">
                    <ul>
                      <li class="link-header pb-25">
                        <span>Useful Links</span>
                      </li>
                      <li class="link-content pb-25">
                        <a target="_top">Contact Us</a>
                      </li>
                      <li class="link-content pb-25">
                        <a target="_top">Privacy Policy</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="content-block">
                    <ul>
                      <li class="link-header pb-25">
                        <span>Quick Links</span>
                      </li>
                      <li class="link-content pb-25">
                        <a target="_top">Products</a>
                      </li>
                      <li class="link-content pb-25">
                        <a target="_top">Careers</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="content-block">
                    <ul>
                      <li class="link-header pb-25">
                        <span>Get in Touch</span>
                      </li>
                      <li class="link-content pb-25">
                        <a href="mailto:UKBplasticenergy@outlook.com"
                          ><span class="contact-info email-content"></span
                          >UKBplasticenergy@outlook.com</a
                        >
                      </li>
                      <li class="link-content pb-25">
                        <a href="tel:+91 9173734279"
                          ><span class="contact-info phone-content"
                            >+91 9173734279</span
                          ></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="content-block">
                    <div class="">
                      <div class="content-block">
                        <ul>
                          <li class="link-header pb-25">
                            <span>Follow us on</span>
                          </li>
                        </ul>
                      </div>
                      <div class="icon-block d-flex">
                        <div class="icon-container">
                          <a target="_blank"
                            ><img
                              width="55px"
                              src="../../../../assets/svg-icons/twitter-icon.svg"
                          /></a>
                        </div>
                        <div class="icon-container">
                          <a target="_blank"
                            ><img
                              width="55px"
                              src="../../../../assets/svg-icons/facebook-icon.svg"
                          /></a>
                        </div>
                        <div class="icon-container">
                          <a target="_blank"
                            ><img
                              width="55px"
                              src="../../../../assets/svg-icons/instagram-icon.svg"
                          /></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ez-copyright-panel">
    <span class="copyright-panel-text"
      >Copyright &copy; 2025 UKB PLASTIC ENERGY PVT LTD. All Rights
      Reserved</span
    >
  </div>
  <!-- <div class="top-to-bottom-scroll" (click)="gotoTop()" *ngIf="isShow">
    <img />
  </div> -->
</div>
