<div class="ez-menu">
  <div class="menu-header">
    <!-- header-menu | starts -->
    <div class="nav-bar-block background">
      <div class="d-flex justify-content-between align-items-center">
        <div
          class="logo-block d-flex justify-content-between align-items-center"
        >
          <div class="mr-3">
            <a routerLink="home" target="_top"
              ><img
                src="../../../../assets/android-chrome-192x192.png"
                width="50px"
            /></a>
          </div>
          <div>
            <span class="logo-name">UKB Plastic Energy</span>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="menubar-block">
            <a class="menu-icon" (click)="isShow = !isShow">
              <!-- <img [src]="root.imageUrl() + '/svg-icons/menu-bar-icon.svg'"> -->
              <div class="menu-line line1"></div>
              <div class="menu-line line2"></div>
              <div class="menu-line line3"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none menu-header-wrapper">
      <div class="menu-header-left">
        <div>
          <div>
            <!-- <img [src]="root.imageUrl() + '/ekzero-white-logo.png '" alt="" /> -->
          </div>
        </div>
      </div>
      <div class="menu-header-right">
        <div class="mhr-wrapper">
          <div class="link-button">
            <a class="color-white border-right py-15 font-16" href="#">Blogs</a>
          </div>
          <div class="link-button">
            <a class="color-white border-right py-15 font-16" href="#"
              >Articles</a
            >
          </div>
          <div class="link-button">
            <a class="color-white py-15 font-16" href="#">Contact Us</a>
          </div>
          <div class="link-button">
            <a class="color-white ml-30 font-20 font-24" href="#">X</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
