<div class="ez-menu">
  <div class="menu-header" [ngClass]="{ active: isShow }">
    <!-- header-menu | starts -->
    <div class="nav-bar-block background">
      <div class="d-flex justify-content-between align-items-center">
        <div
          class="logo-block d-flex justify-content-between align-items-center"
        >
          <div class="mr-3">
            <a routerLink="home" target="_top"
              ><img
                src="assets/android-chrome-192x192.png"
                width="50px"
            /></a>
          </div>
          <div>
            <span class="logo-name">UKB Plastic Energy</span>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="menubar-block">
            <a class="menu-icon" (click)="isShow = !isShow">
              <div class="menu-line line1"></div>
              <div class="menu-line line2"></div>
              <div class="menu-line line3"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="show-menu">
        <div class="menu-content scrollable-body -ms-scrollbar">
          <div class="">
            <div class="left-menu text-ceneter">
              <div class="list-item-wrapper">
                <a routerLink="home" routerLinkActive="active" target="_top">
                  <div class="list-item text-center">
                    <div class="menu-pill">
                      <div>HOME</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="list-item-wrapper">
                <a
                  routerLink="products"
                  routerLinkActive="active"
                  target="_top"
                >
                  <div class="list-item text-center">
                    <div class="menu-pill">
                      <div>OUR PRODUCTS</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="list-item-wrapper">
                <a
                  routerLink="about-us"
                  routerLinkActive="active"
                  target="_top"
                >
                  <div class="list-item text-center">
                    <div class="menu-pill">
                      <div>ABOUT US</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="list-item-wrapper">
                <a
                  routerLink="contact-us"
                  routerLinkActive="active"
                  target="_top"
                >
                  <div class="list-item text-center">
                    <div class="menu-pill">
                      <div>CONTACT US</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
