<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="wo-right-content">
                  <div class="info-title">
                    <span class="color-black">ABOUT</span>
                  </div>
                  <div class="mb-5 info-content">
                    <div><span class="color-orange">US</span></div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-md-6 mb-5 mb-md-0 col-12">
                      <img src="assets/our-story-bg.png" alt="" width="100%" />
                    </div>
                    <div class="col-xl-6 col-md-6 col-12">
                      <span class="color-black content-text"
                        >UKB Plastic Energy Pvt Ltd is a leading pyrolysis oil
                        manufacturer in India that was founded with an emphasis
                        on sustainable methods. We are committed to converting
                        waste plastic into useful resources. To contribute to a
                        cleaner and greener future, UKB Plastic Energy uses
                        state-of-the-art pyrolysis technology to transform
                        organic resources into high-quality bio-oil. Our
                        advanced manufacturing facilities have been installed
                        with advanced technology that guarantees the effective
                        and ecologically socially conscious manufacturing of
                        pyrolysis oil. With a focus on quality and innovation,
                        we work to satisfy the increasing demand for
                        environmentally friendly alternatives in the energy
                        industry. UKB Plastic Energy Pvt ltd stands at the
                        forefront of the circular economy, offering a viable
                        solution for waste management while reducing the
                        reliance on traditional fossil fuels.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="wo-right-content">
                  <div class="info-title">
                    <span class="color-black">Our</span>
                  </div>
                  <div class="mb-5 info-content">
                    <div><span class="color-orange">Mission</span></div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-md-6 mb-5 mb-md-0 col-12">
                      <img src="assets/our-mission.jpg" width="100%" alt="" />
                    </div>
                    <div class="col-xl-6 col-md-6 col-12">
                      <div class="">
                        <span class="color-black content-text"
                          >TRANSFORMING WASTE INTO SUSTAINABLE ENERGY</span
                        >
                      </div>
                      <div class="">
                        <span class="color-black content-text"
                          >Our mission is to revolutionise the waste recycling
                          industry by converting plastic waste into valuable
                          resources like pyrolysis oil, gas, and carbon. This
                          will foster a cleaner, greener future while unlocking
                          untapped economic potential.</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="wo-right-content">
                  <div class="info-title">
                    <span class="color-black">Our</span>
                  </div>
                  <div class="mb-5 info-content">
                    <div><span class="color-orange">Vision</span></div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-md-6 mb-5 mb-md-0 col-12">
                      <img src="assets/our-vision.jpg" width="100%" alt="" />
                    </div>
                    <div class="col-xl-6 col-md-6 col-12">
                      <div class="">
                        <span class="color-black content-text"
                          >Establish a circular economy for employment.</span
                        >
                      </div>
                      <div class="">
                        <span class="color-black content-text"
                          >Convert waste plastic into Valuable Energy.</span
                        >
                      </div>
                      <div class="">
                        <span class="color-black content-text"
                          >Reduce the dependence on fossil fuels.</span
                        >
                      </div>
                      <div class="">
                        <span class="color-black content-text"
                          >Reduce the world's carbon footprint.</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="wo-right-content">
                  <div class="info-title">
                    <span class="color-black">Our</span>
                  </div>
                  <div class="mb-5 info-content">
                    <div><span class="color-orange">Team</span></div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-md-6 mb-5 mb-md-0 col-12">
                      <img
                        src="assets/contact-banner.png"
                        width="100%"
                        alt=""
                      />
                    </div>
                    <div class="col-xl-6 col-md-6 col-12">
                      <div class="">
                        <span class="color-black content-text"
                          >We are a highly qualified team of over 200
                          professionals with backgrounds in the chemical
                          industry, waste and recycling management operations,
                          alternative technologies development, project finance
                          and regulatory markets.</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
