<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="wo-right-content">
                  <div class="info-title">
                    <span class="color-black">ABOUT</span>
                  </div>
                  <div class="mb-3 info-content">
                    <div><span class="color-orange">US</span></div>
                  </div>
                  <div class="">
                    <span class="color-black content-text"
                      >UKB Plastic Energy Pvt Ltd is a leading pyrolysis oil
                      manufacturer in India that was founded with an emphasis on
                      sustainable methods. We are committed to converting waste
                      plastic into useful resources. To contribute to a cleaner
                      and greener future, UKB Plastic Energy uses
                      state-of-the-art pyrolysis technology to transform organic
                      resources into high-quality bio-oil. Our advanced
                      manufacturing facilities have been installed with advanced
                      technology that guarantees the effective and ecologically
                      socially conscious manufacturing of pyrolysis oil. With a
                      focus on quality and innovation, we work to satisfy the
                      increasing demand for environmentally friendly
                      alternatives in the energy industry. UKB Plastic Energy
                      Pvt ltd stands at the forefront of the circular economy,
                      offering a viable solution for waste management while
                      reducing the reliance on traditional fossil fuels.</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="wo-right-content">
                  <div class="info-title">
                    <span class="color-black">Our</span>
                  </div>
                  <div class="mb-3 info-content">
                    <div><span class="color-orange">Mission</span></div>
                  </div>
                  <div class="">
                    <span class="color-black content-text"
                      >TRANSFORMING WASTE INTO SUSTAINABLE ENERGY</span
                    >
                  </div>
                  <div class="">
                    <span class="color-black content-text"
                      >Our mission is to revolutionise the waste recycling
                      industry by converting plastic waste into valuable
                      resources like pyrolysis oil, gas, and carbon. This will
                      foster a cleaner, greener future while unlocking untapped
                      economic potential.</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="wo-right-content">
                  <div class="info-title">
                    <span class="color-black">Our</span>
                  </div>
                  <div class="mb-3 info-content">
                    <div><span class="color-orange">Aim</span></div>
                  </div>
                  <div class="">
                    <span class="color-black content-text"
                      >Establish a circular economy for employment.</span
                    >
                  </div>
                  <div class="">
                    <span class="color-black content-text"
                      >Convert waste plastic into Valuable Energy.</span
                    >
                  </div>
                  <div class="">
                    <span class="color-black content-text"
                      >Reduce the dependence on fossil fuels.</span
                    >
                  </div>
                  <div class="">
                    <span class="color-black content-text"
                      >Reduce the world's carbon footprint.</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="wo-right-content">
                  <div class="info-title">
                    <span class="color-black">OUR</span>
                  </div>
                  <div class="mb-3 info-content">
                    <div><span class="color-orange">Products</span></div>
                  </div>
                  <div class="mb-5">
                    <span class="color-black content-text"
                      >Pyrolysis oil, derived from plastic waste, is a versatile
                      and sustainable fuel with extensive industrial
                      applications. Produced through an advanced thermal
                      decomposition process, it serves as an eco-friendly
                      alternative to traditional fossil fuels like diesel and
                      furnace oil. Its high calorific value and combustion
                      efficiency make it ideal for powering industrial boilers,
                      turbines, and heavy-duty machinery. Additionally,
                      pyrolysis oil is a valuable raw material in the chemical
                      and petrochemical industries, where it can be refined into
                      various useful products such as solvents and synthetic
                      gases.</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row hello">
        <div class="col-xl-4 col-md-6">
          <div class="offer-wrapper">
            <div class="image-block">
              <!-- <img [src]="root.imageUrl() + '/svg-icons/ekzero-logo-white.svg'"/> -->
            </div>
            <div class="content-block">
              <div class="icon-panel orange-panel">
                <!-- <img [src]="root.imageUrl() + '/svg-icons/offer-ecs-icon.svg'"/> -->
              </div>
              <div class="title-panel">
                <span class="title-text"> Pyrolysis oil </span>
              </div>
              <div class="desc-panel">
                <span class="desc-text">
                  Waste plastic derived from pyrolysis of waste plastic trash
                  and municipal waste is one of the promising alternative fuels
                  because of its similar carbon chain characteristics and
                  physical properties to diesel fuel. Pyrolysis oil is a complex
                  mixture of hydrocarbons, similar to crude oil. pyrolysis oil
                  can be used as a alternative for conventional fossil fuels in
                  various applications, including power generation and heating.
                  The conversion of plastic waste into oil can help reduce the
                  amount of plastic ending up in landfilling and Incineration.
                  waste management solution of emissions and residues is
                  essential to minimise environmental impact and ensure the
                  sustainability of pyrolysis oil production.
                </span>
              </div>
              <div class="arrow-direction">
                <a
                  class="orange-arrow arrow-norms position-absolute center"
                  target="_top"
                >
                  <img
                    src="../../../../../assets/svg-icons/right-white-arrow.svg"
                    alt="arrow"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="offer-wrapper">
            <div class="image-block">
              <!-- <img [src]="root.imageUrl() + '/offer-product-img.png'"/> -->
            </div>
            <div class="content-block">
              <div class="icon-panel blue-panel">
                <!-- <img [src]="root.imageUrl() + '/svg-icons/offer-product-icon.svg'"/> -->
              </div>
              <div class="title-panel">
                <span class="title-text"> Black Carbon </span>
              </div>
              <div class="desc-panel">
                <span class="desc-text">
                  Carbon black, a fine black powder mostly composed of elemental
                  carbon, is produced when hydrocarbons are not completely
                  burned. By acting as a common reinforcing filler, carbon black
                  greatly improves the mechanical qualities of rubber goods,
                  such as tensile strength, abrasion resistance, and tear
                  resistance. It is also essential to several sectors, including
                  printing, electronics, building, and the automobile sector. It
                  is a useful pigment in paints, inks, and polymers because of
                  its remarkable tinting and UV-stabilizing qualities. Carbon
                  black may also be used to make battery electrodes, as a black
                  pigment in printing toners, and as a conductive component in
                  electronic products.
                </span>
              </div>
              <div class="arrow-direction">
                <a
                  class="blue-arrow arrow-norms position-absolute center"
                  target="_top"
                >
                  <img
                    src="../../../../../assets/svg-icons/right-white-arrow.svg"
                    alt="arrow"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="offer-wrapper">
            <div class="image-block">
              <!-- <img [src]="root.imageUrl() + '/offer-incubation-img.png'"/> -->
            </div>
            <div class="content-block">
              <div class="icon-panel orange-panel">
                <!-- <img [src]="root.imageUrl() + '/svg-icons/offer-incubation-icon.svg'"/> -->
              </div>
              <div class="title-panel">
                <span class="title-text"> Efurnace Oil </span>
              </div>
              <div class="desc-panel">
                <span class="desc-text">
                  Furnace oil also known as fuel or heating oil—is an essential
                  part of the energy landscape, particularly for heating
                  applications in various industrial sectors. furnace oil, which
                  is produced by distilling crude oil after it has been refined,
                  is a flexible and effective fuel source. it’s another pivotal
                  characteristic is its viscosity, which determines its flow
                  properties and suitability for different heating systems this
                  oil is classified into various grades, ranging from light to
                  heavy, based on viscosity and sulphur content. The specific
                  grade used depends on the requirements of the heating
                  equipment and regulatory standards. This classification
                  underscores the importance of tailoring furnace oil to meet
                  particular heating needs while adhering to established
                  industry and environmental guidelines. We are the best furnace
                  oil manufacturer in India.
                </span>
              </div>
              <div class="arrow-direction">
                <a
                  class="orange-arrow arrow-norms position-absolute center"
                  target="_top"
                >
                  <img
                    src="../../../../../assets/svg-icons/right-white-arrow.svg"
                    alt="arrow"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
