<!-- <div class="ez-our-story" id="who-we-are">
  <div class="row no-gutters">
    <div class="col-md-5">
      <div class="our-story-left-panel">
        <div class="our-story-img">
          <div class="our-story-left-content" data-aos="zoom-in">
            <div class="info-title">
              <span class="color-white">OUR STORY</span>
            </div>
            <div class="mt-20 left-content">
              <div><span class="color-white text-line1">WHO</span></div>
              <div class="mt-10">
                <span class="color-white text-line2">We Are?</span>
              </div>
              <div class="mt-20">
                <span class="color-white text-line3"
                  >The who, what and why our company exists</span
                >
              </div>
            </div>
          </div>
          <div class="our-story-right-content"></div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="our-story-right-panel">
        <div class="uppar-content">
          <div>
            <span
              >Empowering tomorrow with advanced technological solutions and
              innovative products</span
            >
          </div>
        </div>
        <div class="lower-content">
          <div>
            <span class="content-text"
              >ekZero believes in serving solutions that empower the business
              needs of the future. Our extensive knowledge of application and
              data management transforms IT into a tactical advantage. At
              ekZero, we believe in collaboration, teamwork, and an
              ever-learning approach that propels improvement by developing and
              transmitting digital skills, experience, and ideas from our
              institutional framework.</span
            >
          </div>
          <div>
            <span class="content-text"
              >Our clients are at the heart of our organization and we aim to
              professionally guide them through their technological journey with
              our years of experience in providing innovative solutions. We
              assist our partners in overcoming barriers and creating linked
              business operations that grow in real-time.
            </span>
          </div>
        </div>
        <div class="btn-grp">
          <a class="btn-primary btn-lg" target="_top">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="wo-right-content">
                  <div class="info-title">
                    <span class="color-black">ABOUT</span>
                  </div>
                  <div class="mb-5 info-content">
                    <div><span class="color-orange">US</span></div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-md-6 mb-5 mb-md-0 col-12">
                      <img src="assets/our-story-bg.png" alt="" width="100%" />
                    </div>
                    <div class="col-xl-6 col-md-6 col-12">
                      <span class="color-black content-text"
                        >UKB Plastic Energy Pvt Ltd is a leading pyrolysis oil
                        manufacturer in India that was founded with an emphasis
                        on sustainable methods. We are committed to converting
                        waste plastic into useful resources. To contribute to a
                        cleaner and greener future, UKB Plastic Energy uses
                        state-of-the-art pyrolysis technology to transform
                        organic resources into high-quality bio-oil. Our
                        advanced manufacturing facilities have been installed
                        with advanced technology that guarantees the effective
                        and ecologically socially conscious manufacturing of
                        pyrolysis oil. With a focus on quality and innovation,
                        we work to satisfy the increasing demand for
                        environmentally friendly alternatives in the energy
                        industry. UKB Plastic Energy Pvt ltd stands at the
                        forefront of the circular economy, offering a viable
                        solution for waste management while reducing the
                        reliance on traditional fossil fuels.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="wo-right-content">
                  <div class="info-title">
                    <span class="color-black">Our</span>
                  </div>
                  <div class="mb-5 info-content">
                    <div><span class="color-orange">Mission</span></div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-md-6 mb-5 mb-md-0 col-12">
                      <img src="assets/our-mission.jpg" width="100%" alt="" />
                    </div>
                    <div class="col-xl-6 col-md-6 col-12">
                      <div class="">
                        <span class="color-black content-text"
                          >TRANSFORMING WASTE INTO SUSTAINABLE ENERGY</span
                        >
                      </div>
                      <div class="">
                        <span class="color-black content-text"
                          >Our mission is to revolutionise the waste recycling
                          industry by converting plastic waste into valuable
                          resources like pyrolysis oil, gas, and carbon. This
                          will foster a cleaner, greener future while unlocking
                          untapped economic potential.</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="wo-right-content">
                  <div class="info-title">
                    <span class="color-black">Our</span>
                  </div>
                  <div class="mb-5 info-content">
                    <div><span class="color-orange">Vision</span></div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-md-6 mb-5 mb-md-0 col-12">
                      <img src="assets/our-vision.jpg" width="100%" alt="" />
                    </div>
                    <div class="col-xl-6 col-md-6 col-12">
                      <div class="">
                        <span class="color-black content-text"
                          >Establish a circular economy for employment.</span
                        >
                      </div>
                      <div class="">
                        <span class="color-black content-text"
                          >Convert waste plastic into Valuable Energy.</span
                        >
                      </div>
                      <div class="">
                        <span class="color-black content-text"
                          >Reduce the dependence on fossil fuels.</span
                        >
                      </div>
                      <div class="">
                        <span class="color-black content-text"
                          >Reduce the world's carbon footprint.</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="wo-right-content">
                  <div class="info-title">
                    <span class="color-black">OUR</span>
                  </div>
                  <div class="mb-5 info-content">
                    <div><span class="color-orange">Products</span></div>
                  </div>
                  <div class="mb-5">
                    <span class="color-black content-text"
                      >Pyrolysis oil, derived from plastic waste, is a versatile
                      and sustainable fuel with extensive industrial
                      applications. Produced through an advanced thermal
                      decomposition process, it serves as an eco-friendly
                      alternative to traditional fossil fuels like diesel and
                      furnace oil. Its high calorific value and combustion
                      efficiency make it ideal for powering industrial boilers,
                      turbines, and heavy-duty machinery. Additionally,
                      pyrolysis oil is a valuable raw material in the chemical
                      and petrochemical industries, where it can be refined into
                      various useful products such as solvents and synthetic
                      gases.</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row hello">
        <div class="col-xl-4 col-md-6 mb-3">
          <div class="offer-wrapper">
            <div class="image-block">
              <img src="assets/product1.png" alt="products" />
            </div>
            <div class="content-block">
              <div class="title-panel">
                <span class="title-text"> Pyrolysis oil </span>
              </div>
              <div class="desc-panel">
                <span class="desc-text">
                  Waste plastic derived from pyrolysis of waste plastic trash
                  and municipal waste is one of the promising alternative fuels
                  because of its similar carbon chain characteristics and
                  physical properties to diesel fuel...
                </span>
              </div>
              <div class="arrow-direction">
                <a
                  class="orange-arrow arrow-norms position-absolute center"
                  routerLink="products"
                  target="_top"
                >
                  <img
                    src="assets/svg-icons/right-white-arrow.svg"
                    alt="arrow"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
          <div class="offer-wrapper">
            <div class="image-block">
              <img src="assets/product2.png" alt="products" />
            </div>
            <div class="content-block">
              <div class="title-panel">
                <span class="title-text"> Black Carbon </span>
              </div>
              <div class="desc-panel">
                <span class="desc-text">
                  Carbon black, a fine black powder mostly composed of elemental
                  carbon, is produced when hydrocarbons are not completely
                  burned...
                </span>
              </div>
              <div class="arrow-direction">
                <a
                  class="blue-arrow arrow-norms position-absolute center"
                  routerLink="products"
                  target="_top"
                >
                  <img
                    src="assets/svg-icons/right-white-arrow.svg"
                    alt="arrow"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
          <div class="offer-wrapper">
            <div class="image-block">
              <img src="assets/product3.png" alt="products" />
            </div>
            <div class="content-block">
              <div class="title-panel">
                <span class="title-text"> Efurnace Oil </span>
              </div>
              <div class="desc-panel">
                <span class="desc-text">
                  Furnace oil also known as fuel or heating oil—is an essential
                  part of the energy landscape, particularly for heating
                  applications in various industrial sectors...
                </span>
              </div>
              <div class="arrow-direction">
                <a
                  class="orange-arrow arrow-norms position-absolute center"
                  routerLink="products"
                  target="_top"
                >
                  <img
                    src="assets/svg-icons/right-white-arrow.svg"
                    alt="arrow"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="contact-us">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row align-items-end">
              <div class="col-12 mb-md-0 mb-5 col-md-6">
                <img src="assets/contact-banner.png" alt="" width="100%" />
              </div>
              <div class="col-12 col-md-6">
                <div class="wo-right-content">
                  <div class="info-title">
                    <span class="color-black">Contact</span>
                  </div>
                  <div class="mb-3 info-content">
                    <div><span class="color-orange">Us</span></div>
                  </div>
                  <div class="">
                    <span class="color-black content-text"
                      >Get in contact with UKB Plastic Energy today to find out
                      more.</span
                    >
                  </div>
                  <div class="content-block">
                    <div>
                      <div class="d-flex mb-3 align-items-center">
                        <div>
                          <img src="assets/svg-icons/email-icon.svg" alt="" />
                        </div>
                        <div>
                          <div>
                            <a href="mailto:UKBplasticenergy@outlook.com">
                              <span class="contact-info email-content"
                                >UKBplasticenergy@outlook.com</span
                              >
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-3 align-items-center">
                        <div>
                          <img src="assets/svg-icons/phone-icon.svg" alt="" />
                        </div>
                        <div>
                          <div>
                            <a href="tel:+91 9173734279">
                              <span class="contact-info phone-content"
                                >+91 9173734279</span
                              >
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
