<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="contact-us">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row align-items-end">
              <div class="col-12 mb-md-0 mb-5 col-md-6">
                <div class="wo-right-content">
                  <div class="info-title">
                    <span class="color-black">Contact</span>
                  </div>
                  <div class="mb-3 info-content">
                    <div><span class="color-orange">Us</span></div>
                  </div>
                  <div class="">
                    <span class="color-black content-text"
                      >Get in contact with UKB Plastic Energy today to find out
                      more.</span
                    >
                  </div>
                  <div class="icon-block d-flex">
                    <div class="icon-container">
                      <a target="_blank"
                        ><img
                          width="40px"
                          src="assets/svg-icons/twitter-icon.svg"
                      /></a>
                    </div>
                    <div class="icon-container">
                      <a target="_blank"
                        ><img
                          width="40px"
                          src="assets/svg-icons/facebook-icon.svg"
                      /></a>
                    </div>
                    <div class="icon-container">
                      <a target="_blank"
                        ><img
                          width="40px"
                          src="assets/svg-icons/instagram-icon.svg"
                      /></a>
                    </div>
                    <div class="icon-container">
                      <a target="_blank"
                        ><img
                          width="40px"
                          src="assets/svg-icons/linkedin-icon.svg"
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="content-block">
                  <div>
                    <div class="d-flex mb-3 align-items-center">
                      <div>
                        <img src="assets/svg-icons/email-icon.svg" alt="" />
                      </div>
                      <div>
                        <div>
                          <a href="mailto:UKBplasticenergy@outlook.com">
                            <span class="contact-info email-content"
                              >UKBplasticenergy@outlook.com</span
                            >
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex mb-3 align-items-center">
                      <div>
                        <img src="assets/svg-icons/phone-icon.svg" alt="" />
                      </div>
                      <div>
                        <div>
                          <a href="tel:+91 9173734279">
                            <span class="contact-info phone-content"
                              >+91 9173734279</span
                            >
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container">
  <div class="home-wrapper">
    <div class="ez-we-offer ez-offer-design-col" id="what-we-offer">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="wo-offer-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="wo-right-content">
                  <div class="row">
                    <div class="col-xl-6 col-md-6 mb-5 mb-md-0 col-12">
                      <img src="assets/our-story-bg.png" alt="" width="100%" />
                    </div>
                    <div class="col-xl-6 col-md-6 col-12 pl-md-5">
                      <div class="info-title">
                        <span class="color-black">Vadodara,</span>
                      </div>
                      <div class="mb-5 info-content">
                        <div><span class="color-orange">India</span></div>
                      </div>
                      <div>
                        <h4>Address</h4>
                        <div>43-Deepak Society,</div>
                        <div>New Sama Road,</div>
                        <div>Vadodara, 390024.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
