.ez-menu {
  z-index: 30;
  position: fixed;
  width: 100%;
  // top: 150px;
  .font-16 {
    font-size: 16px;
    line-height: 20px;
  }
  .font-18 {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
  }
  .font-20 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
  }
  .font-24 {
    font-size: 24px;
    line-height: 28px;
  }
  .color-blue {
    color: #4683db;
  }
  .menu-header {
    .nav-bar-block {
      background-color: transparent;
      padding: 20px 50px;
      z-index: 9;
      position: fixed;
      width: 100%;
      // transition: background-color 0.5s ease;
      // transition-delay: 0.7s;

      @media (max-width: breakpoint(lg-end)) {
        padding: 20px 50px;
      }
      @media (max-width: breakpoint(lg-start)) {
        padding: 20px 50px 20px 50px;
      }
      @media (max-width: breakpoint(xs-lg-start)) {
        padding: 20px 25px 20px 25px;
      }
      &.background {
        background-color: rgba(0, 0, 0, 0.6);
      }
      .logo-name {
        font-size: 30px;
        line-height: 44px;
        margin: 0;
        font-weight: 700;
        color: white;
        @media (max-width: breakpoint(lg-end)) {
          font-size: 26px;
          line-height: 30px;
        }
        @media (max-width: breakpoint(lg-start)) {
          font-size: 24px;
          line-height: 28px;
        }
        @media (max-width: breakpoint(xs-lg-start)) {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }

    &.active {
      .menubar-block {
        .menu-line {
          &.line1 {
            transform: rotate(45deg) translate(0px, 10px);
            transition: all 300ms ease-in-out;
            background-color: $accent-primary-color;
          }
          &.line2 {
            display: none;
          }
          &.line3 {
            transform: rotate(-45deg) translate(-2px, -8px);
            transition: all 300ms ease-in-out;
            background-color: $accent-primary-color;
          }
        }
      }
    }
    .menu-header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: inherit;
    }
    .menubar-block {
      .menu-line {
        background-color: $accent-white-color;
        height: 3px;
        width: 35px;
        margin-bottom: 8px;
        border-radius: 20px;
        transition: all 300ms ease-in-out;
        @media (max-width: breakpoint(lg-start)) {
          width: 30px;
        }
      }
    }
    .border-right {
      border-right: 1px solid white;
    }
    .py-15 {
      padding: 0px 15px;
    }
    @media (max-width: breakpoint(xs-end)) {
      .menu-header-wrapper {
        display: block;
        padding: 15px 0px;
      }
    }
    .show-menu {
      transition: all 1s ease-in-out;
      border-radius: 20px;
      background-color: $accent-white-color;
      opacity: 0.98;
      width: 300px;
      position: absolute;
      margin: 0 auto;
      right: 25px;
      top: 90px;
      opacity: 0;
      visibility: hidden;
      height: 100%;
      @media (max-width: breakpoint(sm-end)) {
        width: 85%;
        right: 0px;
        left: 0px;
      }
      &.page-not-found {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25) !important;
        margin: 10px 70px !important;
      }
    }
  }

  .menu-header.active .show-menu {
    position: absolute;
    top: 115px;
    transition: all 1s ease-in-out;
    opacity: 1;
    visibility: visible;
    // box-shadow: -15px -15px 80px rgba(0,0,0,0.16);
  }

  .menu-content {
    padding: 30px 50px;
    overflow-y: auto;
    height: 300px;
    background: $accent-white-color;
    box-shadow: -15px -15px 80px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    @media (max-width: breakpoint(lg-start)) {
      padding: 30px;
    }
    @media (max-width: breakpoint(xs-lg-start)) {
      padding: 30px 20px;
    }

    .left-menu {
      .list-item-wrapper {
        a {
          color: $accent-dark-color;
          font-size: $font-18;
          line-height: 22px;
          font-weight: $font-weight-semi-bold;
          @media (max-width: breakpoint(lg-start)) {
            font-size: $font-16;
            line-height: 20px;
          }
          @media (max-width: breakpoint(lg-start)) {
            font-size: $font-14;
            line-height: 18px;
          }
          &:hover,
          &.active {
            .list-item {
              .menu-pill {
                color: $accent-primary-color;
              }
            }
          }
        }
        .list-item {
          padding: 25px 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          @media (max-width: breakpoint(xl-laptop)) {
            padding: 20px 20px;
          }
          @media (max-width: breakpoint(lg-end)) {
            padding: 15px 20px;
          }
          @media (max-width: breakpoint(md-end)) {
            padding: 20px 20px;
          }
          @media (max-width: breakpoint(xs-end)) {
            flex-direction: column;
          }
          @media (max-width: breakpoint(sm-end)) {
            padding: 15px 5px;
          }
          &:hover {
            background-color: #bcd6fb40;
            border-radius: 30px;
          }
          .menu-pill {
            width: 100%;
            cursor: pointer;
            @media (max-width: breakpoint(xs-end)) {
              width: 85%;
            }
          }
        }
        .view-block {
          width: 10%;
          padding-left: 30px;
          @media (max-width: breakpoint(xl-laptop)) {
            width: 18%;
          }
          @media (max-width: breakpoint(lg-end)) {
            width: 20%;
          }
          @media (max-width: breakpoint(md-end)) {
            width: 23%;
          }
          @media (max-width: breakpoint(lg-start)) {
            width: 20%;
          }
          @media (max-width: breakpoint(md-start)) {
            display: none;
          }
          span {
            color: #5083de;
            font-size: $font-16;
            line-height: 20px;
            @media (max-width: breakpoint(lg-start)) {
              font-size: $font-14;
              line-height: 18px;
            }
          }
          .view-arrow {
            height: 2px;
            background-color: #5083de;
            position: relative;
            width: 30px;
            margin-left: 15px;
            @media (max-width: breakpoint(lg-start)) {
              width: 25px;
              margin-left: 10px;
            }
            &::after {
              content: "";
              height: 12px;
              width: 12px;
              transform: rotate(45deg);
              position: absolute;
              right: 0px;
              top: -5px;
              border-top: 1px solid transparent;
              border-bottom: 2px solid #5083de;
              border-left: 1px solid transparent;
              border-right: 2px solid #5083de;
              transform: rotate(-45deg);
              @media (max-width: breakpoint(lg-start)) {
                top: -4px;
                height: 10px;
                width: 10px;
              }
            }
          }
          &.responsive-view {
            display: none;
            @media (max-width: breakpoint(md-start)) {
              display: block;
              width: auto;
            }
            @media (max-width: breakpoint(xs-end)) {
              display: block;
              width: 100%;
            }
            .resp-view {
              @media (max-width: breakpoint(xs-end)) {
                justify-content: flex-end !important;
              }
            }
            span {
              @media (max-width: breakpoint(md-start)) {
                font-size: $font-14;
                line-height: 18px;
              }
              @media (max-width: breakpoint(xs-end)) {
                font-size: $font-12;
                line-height: 16px;
                display: block;
                margin: 5px 10px 0 0;
              }
              @media (max-width: breakpoint(xs-md-start)) {
                margin: 5px 0 0 0;
              }
            }
            .view-arrow {
              @media (max-width: breakpoint(md-start)) {
                width: 22px;
                margin-left: 10px;
              }
              @media (max-width: breakpoint(xs-end)) {
                display: none;
              }
              &::after {
                @media (max-width: breakpoint(md-start)) {
                  content: "";
                  height: 10px;
                  width: 10px;
                  top: -4px;
                }
              }
            }
          }
        }
        .view-all-resp {
          display: none;
        }
      }
    }
    .menu-footer-panel {
      margin-top: 30px;
    }
  }
}
