#product-page.home-container {
  .home-wrapper {
    .ez-offer-design-col {
      .offer-wrapper {
        box-shadow: none;
        .content-block {
          height: auto;
          padding: 0px;
        }
      }
    }
  }
}
