#product-page.home-container {
  .home-wrapper {
    .ez-offer-design-col {
      .offer-wrapper {
        box-shadow: none;
        .content-block {
          height: auto;
          padding: 0px;
        }
      }
    }
  }
}
.home-container {
  #contact-us {
    img {
      background-color: #9a9a9a;
      border-radius: 5px;
      margin-right: 15px;
    }
    .content-block {
      img {
        width: 30px;
        padding: 7px;
        height: 30px;
      }
    }
    a {
      span {
        &:hover {
          color: #ff6200 !important;
        }
      }
    }
  }
}
